<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head :: meta"></th:block>

    <title>SitNBeer - Beers</title>

    <th:block th:include="fragments/head :: assets"></th:block>

    <script src="/js/beer.js"></script>
</head>

<body>
    <th:block th:include="fragments/layout :: navbar"></th:block>
    <main>
        <div class="container">
            <h1>Beers of Bar</h1>

            <h3>Click to edit</h3>

            <span th:if="${beers.isEmpty()}">There is no beer at the moment. <a th:href="@{/beer/add/}">Just add one</a></span>

            <ul>
                <span th:each="beer: ${beers}">
                    <li><a th:href="@{'/beer/update/' + ${beer.getId()}}" th:text="${beer.getName()}"></a></li>
                </span>
            </ul>
        </div>
    </main>
    <th:block th:include="fragments/layout :: footer"></th:block>
</body>

</html>