<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head :: meta"></th:block>

    <title>SitNBeer - Orders</title>

    <th:block th:include="fragments/head :: assets"></th:block>
</head>

<body>
    <th:block th:include="fragments/layout :: navbar"></th:block>
    <main>
        <span th:text="${#lists.size(orders)}"></span>
        
        <div class="container">
            <h1>Client orders</h1>
            <ul th:each="order: ${orders}" class="collection">
                <span th:if="${order.getStatus() == T(com.example.demo.models.enums.OrderStatusEnum).OPEN or order.getStatus() == T(com.example.demo.models.enums.OrderStatusEnum).IN_PROCESS}">
                    <li class="collection-item">
                        <strong>Id : </strong><span th:text="${order.id}"></span><br>
                        <strong>Table : </strong><span th:text="${order.tableNumber}"></span><br>
                        <strong>Beer : </strong><span th:text="${order.getBeer().getName()}"></span><br>
                        <strong>Manufacturer : </strong><span th:text="${order.getBeer().getManufacturer()}"></span>
                        <hr>
                        <strong>Status : </strong><span th:text="${order.getStatus()}"></span>
                        <span th:if="${order.getStatus() == T(com.example.demo.models.enums.OrderStatusEnum).OPEN}">
                            <a class="waves-effect waves-light btn accept-button" href="#">Accept</a>
                        </span>
                    </li>
                </span>
            </ul>
        </div>
    </main>
    <th:block th:include="fragments/layout :: footer"></th:block>
</body>

</html>